
      <header style="background:url(../../../assets/img/imagen1.jpg);">
        <nav class="navbar navbar-expand-lg navbar-dark" >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="assets/img/logoAP.png" alt="Logo" style="height: 75px" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarNavDropdown"
            >
              <ul class="navbar-nav">
                <li class="nav-item fa-2x iconos">
                  <a
                    href="https://www.linkedin.com/in/facundo-salvucci-bb68b2158/"
                    target="_blank"
                    ><i class="fa-brands fa-linkedin text-white"></i
                  ></a>
                </li>
                <li class="nav-item fa-2x iconos">
                  <a href="https://twitter.com/fds1288" target="_blank"
                    ><i class="fa-brands fa-twitter text-white"></i
                  ></a>
                </li>
                <li class="nav-item fa-2x iconos">
                  <a href="https://github.com/SalvucciFacundo" target="_blank">
                    <i class="fa-brands fa-github text-white"></i>
                  </a>
                </li>
                <li class="nav-item fa-2x iconos">
                  <a href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#loginModal">
                    <i class="fa-solid fa-user-lock text-white"*ngIf="usuarioLogeado!='true'"></i>
                  </a>
                </li>
                <li class="nav-item fa-2x iconos" *ngIf="usuarioLogeado=='true'">
                  <a href="">
                    <i class="fa-solid fa-right-from-bracket text-white" (click)="logOut()"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="editar" *ngIf="usuarioLogeado=='true'">
          <a href=""
          data-bs-toggle="modal"
          data-bs-target="#banner">
          <i class="fa-solid fa-square-pen fa-2x" style="color:red;"></i>
        </a>
        </div>
        
      </header>

<div class="card acerca mt-3">
        <div class="row g-0">
          <div class="editarProfile" *ngIf="usuarioLogeado=='true'">
            <a href=""
            data-bs-toggle="modal"
            data-bs-target="#imgPerfil">
            <i class="fa-solid fa-square-pen fa-2x" style="color:red;"></i>
          </a>
          </div>
          <div class="col-md-4">
            <img src="../../../assets/img/profile2.jpg" class="img-fluid rounded-circle imgPerfil" alt="perfilImagen">
          </div>
          <div class="col-md-8 cardAlineamiento">
            <div class="card-body text-center ">
              <div class="editarNombre" *ngIf="usuarioLogeado=='true'">
                <a href=""
                data-bs-toggle="modal"
                data-bs-target="#nombreModal">
                <i class="fa-solid fa-square-pen fa-2x" style="color:red;"></i>
              </a>
              </div>
              <h1 class="text-center"><b>Facundo Damian Salvucci</b><br/></h1>
              <h3 class="text-center">Desarrollador Full Stack Jr.</h3>
              <h2 class="textoFondo"><b>Acerca de mi</b></h2>
              <p>
                Técnico superior en programación UTN Facultad Regional Mendoza año 2018.<br />
                Desarrollador web freelance Angular y Node.js<br />
                Soporte técnico y QA.<br />
                Correo: fds1288@gmail.com<br />
                Fecha de nacimiento: 12/12/1988<br />
                Nacionalidad: Argentino<br />
                Cel: 2615730481
              </p>
              <div class="editarNombre" *ngIf="usuarioLogeado=='true'">
                <a href=""
                data-bs-toggle="modal"
                data-bs-target="#acercaModal">
                <i class="fa-solid fa-square-pen fa-2x" style="color:red;"></i>
              </a>
              </div>
            </div>
          </div>
        </div>
 </div>
 <app-login></app-login>
 <app-register></app-register>
 <app-img-perfil-modal></app-img-perfil-modal>
 <app-banner-modal></app-banner-modal>
 <app-nombre></app-nombre>
 <app-sobre-mi-modal></app-sobre-mi-modal>