header{
    height: 70vh;
}

.drop{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    font-size: larger;
}
.iconos{
    text-decoration: none;
    color: white;
    margin-right: 10px;
   
}
.iconos:hover {
    opacity: 0.2;
}

.imgPerfil{
    height: 90%;
    width: 90%;
    margin-left:15px;
  }
.textoFondo{
      background-color: grey;
      text-align: center;
  }
.acerca{
   background: none;
   border: none;
}

.cardAlineamiento{
    margin-top: 3%;
    margin-left: -2%;
}

.editar{
    text-align: end;
    padding-top: 20%;
    text-decoration: none;
    margin-right: 10px;
}
.editarProfile{
    text-align: start;
    margin-left: 10px;
}
.editarNombre{
    text-align: end;
}
.texto{
    margin-top: 5px;
    font-size: larger;
}