
<nav class="navbar navbar-expand-lg bg-color flexed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logoAP.png" alt="Logo" class="w-50" />
      </a>
      <ul class="list-group list-group-horizontal fa-2x">
        <li class="list-group-item">
          <a href="https://www.linkedin.com/in/facundo-salvucci-bb68b2158/" target="_blank">
            <i><fa-icon class="linkedin" [icon]="faLinkedin"></fa-icon></i>
        </a>
        </li>
        <li class="list-group-item">
          <a href="https://twitter.com/fds1288" target="_blank">
            <i><fa-icon class="twitter" [icon]="faTwitter"></fa-icon></i>
        </a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/SalvucciFacundo" target="_blank">
            <i><fa-icon class="github" [icon]="faGit"></fa-icon></i>
        </a>
        </li>
        <li class="list-group-item">
          <!--Boton abre login modal -->
          <a href="#">
            <i data-bs-toggle="modal" data-bs-target="#loginModal">
                <fa-icon class="userLock" [icon]="faUserLock"></fa-icon>
            </i>
        </a>
        </li>
      </ul>
    </div>
  </nav>
  <img
        src="../../../assets/img/imagen1.jpg"
        alt="imagen-banner"
        class="imagenBanner"
      />
      <img
  src="../../../assets/img/profile2.jpg"
  alt="ImagenPerfil"
class="rounded-circle imgPerfil"
/>
<div class="nombre text-center">
  <div class="row">
    <div class="col-4">
      <h2 class="text-center intro">Facundo Damian Salvucci<br /></h2>
      <h3 class="text-center intro">Desarrollador Full Stack Jr.</h3>
    </div>
    <div class="col-8 acerca">
      <h1 class="textoFondo"><b>Acerca de mi</b></h1>
      <p>
        Técnico superior en programación UTN Facultad Regional Mendoza año
        2018.<br />
        Desarrollador web freelance Angular y Node.js<br />
        Soporte técnico y QA.<br />
        Correo: fds1288@gmail.com<br />
        Fecha de nacimiento: 12/12/1988<br />
        Nacionalidad: Argentino<br />
        Cel: 2615730481
      </p>
    </div>
  </div>
</div>

      <!-- <app-acerca></app-acerca> -->
      <app-login></app-login>
      <app-register></app-register>