
.imgPerfil{
  height: 40%;
  width: 25%;
 z-index: 1;
 position: relative;
 margin-top: 300px;
 margin-left: 20px;

}
.nombre{
    margin-left: -15px;
}
.acerca{
margin-top: -75px;
}
.textoFondo{
    background-color: grey;
    text-align: center;
}