<div
      class="modal fade"
      id="registro"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content fondoModal">
          <div class="modal-header">
            <h1 class="modal-title fs-5">
              Crear Cuenta
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cancelar"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="crearUsuario">
              <div class="mb-3">
                <label  class="form-label"
                  >Nombre</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  formControlName="nombre"
                />
              <div class="mb-3">
                <label class="form-label"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  placeholder="ejemplo@ejemplo.com"
                  formControlName="email"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
               />
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" (click)="crear()" [disabled]="crearUsuario.invalid" class="btn btn-primary">Aceptar</button>
            <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Volver
          </button>
          </div>
        </div>
      </div>
    </div>