<div class="container">
    <h1 class="textoFondo"><b>Experiencia</b></h1>
    <div class="editarNombre" *ngIf="usuarioLogeado=='true'">
      <a href=""><i class="fa-solid fa-square-pen fa-2x" style="color:red;"></i></a>
    </div>
    <div class="row mt-5 sombreado" *ngFor="let items of expe">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img src="{{items.logo}}" alt="trbajo1" />
        </div>
      </div>
      <div class="col-8">
        <div class="card fondoCard text-center">
          <h4><b>{{items.lugar}}</b></h4>
          <p>
            {{items.info}}
          </p>
        </div>
      </div>
    </div>

