.textoFondo{
    background-color: grey;
    text-align: center;
}
.sombreado:hover{
    opacity: 0.3;
}
.ancho{
    max-height: 15%;
    max-width: 15%;
 }
.fondoCard{
    background: none;
}
.editarNombre{
    text-align: end;
}
