<div class="container">
    <h1 class="textoFondo"><b>Experiencia</b></h1>
    <!--Trabajo 1-->
    <div class="row mt-5 sombreado">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img src="assets/img/experiencia/ciber.jpg" alt="trbajo1" />
        </div>
      </div>
      <div class="col-8">
        <div class="card fondoCard text-center">
          <h4><b>CiberCafe Alem</b></h4>
          <p>
            Atención al público, contabilidad de caja, mantenimiento y
            reparación de pc. 2009 - 2013
          </p>
        </div>
      </div>
    </div>
    <!--Trabajo 2-->
    <div class="row mt-5 sombreado">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img
            src="assets/img/experiencia/electricista.jpg"
            alt="trbajo2"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="card fondoCard text-center">
          <h4><b>Ayudante electricista</b></h4>
          <p>Ayudante de electricista domiciliario 2014 - 2016</p>
        </div>
      </div>
    </div>
    <!--Trabajo 3-->
    <div class="row mt-5 sombreado">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img
            src="assets/img/experiencia/mantenimiento.jpg"
            alt="trbajo3"
          />
        </div>
      </div>
      <div class="col-8 sombreado">
        <div class="card fondoCard text-center">
          <h4><b>Servicio y mantenimiento de pc</b></h4>
          <p>
            Armado, mantenimiento y reparacion de computadoras, instalación
            de software y sistema operativo. 2017 - Actualidad
          </p>
        </div>
      </div>
    </div>
    <!--trabajo 4-->
    <div class="row mt-5 sombreado">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img src="assets/img/experiencia/actas.jpg" alt="trbajo4" />
        </div>
      </div>
      <div class="col-8">
        <div class="card fondoCard text-center">
          <h4><b>Asociación de canaricultores MACO</b></h4>
          <p>
            Inscripción , modificación de socios en el sistema,
            digitalización de documentos e actas,secretario de la comisión
            directiva. 2019 - Actualidad
          </p>
        </div>
      </div>
    </div>

    <!--Trabajo 5-->
    <div class="row mt-5 sombreado">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img src="assets/img/experiencia/freelance.jpg" alt="trbajo5" />
        </div>
      </div>
      <div class="col-8">
        <div class="card fondoCard text-center">
          <h4><b>Desarrollador Web Freelance</b></h4>
          <p>
            Desarrollo y mantenimiento de paginas web. 2019 - Actualidad
          </p>
        </div>
      </div>
    </div>
    <!--Trabajo 6-->
    <div class="row mt-5 sombreado">
      <div class="col-4 ancho">
        <div class="card fondoCard">
          <img src="assets/img/experiencia/dubbz.png" alt="trbajo6" />
        </div>
      </div>
      <div class="col-8">
        <div class="card fondoCard text-center">
          <h4><b>Soporte Técnico y QA Dubb.com</b></h4>
          <p>
            Testeo de plataforma y manejo de usuarios de la plataforma. 2021
            - Actualidad
          </p>
        </div>
      </div>
    </div>
  </div>
