<div
class="modal fade"
id="skillModalEdit"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content fondoModal">
    <div class="modal-header">
      <h1 class="modal-title fs-5">
        Editar skills
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Cancelar"
      ></button>
    </div>
    <div class="modal-body">
      <form >
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Seleccione opcion a editar(Hard Skill) </label>
            <select class="form-select" aria-label="Default select example">
                <option selected >Seleccione para editar</option>
                <option value="1" *ngFor="let item of hardSkill ">{{item.nombre}}</option>
              </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Seleccione opcion a editar(Soft Skill) </label>
            <select class="form-select" aria-label="Default select example">
                <option selected >Seleccione para editar</option>
                <option value="1" *ngFor="let item of softSkill ">{{item.nombre}}</option>
              </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Ingrese nombre de la skill </label>
          <input type="text" class="form-control" placeholder="Ejemplo"/>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"> Ingrese valor </label>
            <input type="text" class="form-control" placeholder="90"/>
          </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
    </div>
  </div>
</div>
</div>

