<div
class="modal fade"
id="educacionModalAdd"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content fondoModal">
    <div class="modal-header">
      <h1 class="modal-title fs-5">
        Agregar titulos y cursos
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Cancelar"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="crearEducacion">
        <div class="mb-3">
          <label  class="form-label"> Ingrese Titulo/Curso </label>
          <input type="text" class="form-control"placeholder="Tecnico/ingeniero" formControlName="titulo"/>
        </div>
        <div class="mb-3">
          <label  class="form-label">  Nombre del Instituto </label>
          <input type="text" class="form-control"placeholder="Facultad..." formControlName="instituto"/>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Seleccione logo</label>
            <input type="text" class="form-control" formControlName="logo" placeholder="Ingrese url"
          />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese fecha de inicio</label>
            <input type="text" class="form-control" formControlName="inicio" placeholder="Ingrese fecha(año)"
          />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese fecha de finalizacion</label>
            <input type="text" class="form-control" formControlName="fin" placeholder="Ingrese fecha(año)"
          />
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit"  (click)="crear()" [disabled]="crearEducacion.invalid" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
    </div>
  </div>
</div>
</div>

