<div class="container">
  <h3 class="textoFondo mb-3"><b>Hard Skill</b></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let items of hardSkill">
        <h4 class="progress-title text-center">{{items.nombre}}</h4>
        <div class="progress-outer">
          <div class="progress">
            <div
              class="progress-bar progress-bar-primary progress-bar-striped bg-primary active"
              
              [ngStyle]="{'width': items.valor,'box-shadow':'-1px 10px 10px rgba(7, 38, 192, 0.7)'}"
              >
            </div>
            <div class="progress-value">{{items.valor}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h3 class="textoFondo mb-3"><b>Soft Skill</b></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let items of softSkill">
        <h4 class="progress-title text-center">{{items.nombre}}</h4>
        <div class="progress-outer">
          <div class="progress">
            <div
              class="progress-bar progress-bar-success progress-bar-striped bg-success active"
              [ngStyle]="{'width': items.valor,'box-shadow':'-1px 10px 10px rgba(116, 195, 116, 0.7)'}"
              >
            </div>
            <div class="progress-value">{{items.valor}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

