<div class="container mt-3">
  <h3 class="textoFondo mb-3"><b>Hard Skill</b></h3>
  <div class="editarNombre" *ngIf="usuarioLogeado=='true'">
    <a href="" data-bs-toggle="modal" data-bs-target="#skillModalAdd">
      <i class="fa-solid fa-plus fa-2x" style="color:green; margin-right: 5px;"></i>
    </a>
    <a href="" data-bs-toggle="modal" data-bs-target="#skillModalEdit">
      <i class="fa-solid fa-square-pen fa-2x" style="color:blue;margin-right: 5px;"></i>
    </a>
    <a href="" data-bs-toggle="modal" data-bs-target="#skillModalDelete">
      <i class="fa-solid fa-trash fa-2x" style="color:red;"></i>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let items of hardSkill">
        <h4 class="progress-title text-center">{{items.nombre}}</h4>
        <div class="progress-outer">
          <div class="progress">
            <div
              class="progress-bar progress-bar-primary progress-bar-striped bg-primary active"
              
              [ngStyle]="{'width': items.valor,'box-shadow':'-1px 10px 10px rgba(7, 38, 192, 0.7)'}"
              >
            </div>
            <div class="progress-value">{{items.valor}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h3 class="textoFondo mb-3"><b>Soft Skill</b></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let items of softSkill">
        <h4 class="progress-title text-center">{{items.nombre}}</h4>
        <div class="progress-outer">
          <div class="progress">
            <div
              class="progress-bar progress-bar-success progress-bar-striped bg-success active"
              [ngStyle]="{'width': items.valor,'box-shadow':'-1px 10px 10px rgba(116, 195, 116, 0.7)'}"
              >
            </div>
            <div class="progress-value">{{items.valor}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-skill-modal-add></app-skill-modal-add>
<app-skill-modal-edit></app-skill-modal-edit>
<app-skill-modal-delete></app-skill-modal-delete>