

<div class="container">
    <h1 class="textoFondo"><b>Hard & Soft Skill</b></h1>
    <h3 class="textoFondo"><b>Hard Skill</b></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="progress-title text-center">HTML</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-primary progress-bar-striped bg-primary active"
                style="
                  width: 80%;
                  box-shadow: -1px 10px 10px rgba(7, 38, 192, 0.7);
                "
              ></div>
              <div class="progress-value">80%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">CSS</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-success progress-bar-striped bg-success active"
                style="
                  width: 60%;
                  box-shadow: -1px 10px 10px rgba(116, 195, 116, 0.7);
                "
              ></div>
              <div class="progress-value">60%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">JavaScript</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-danger progress-bar-striped bg-danger active"
                style="
                  width: 40%;
                  box-shadow: -1px 10px 10px rgba(196, 5, 5, 0.7);
                "
              ></div>
              <div class="progress-value">40%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">bootstrap</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-secondary progress-bar-striped bg-secondary active"
                style="
                  width: 50%;
                  box-shadow: -1px 10px 10px rgba(47, 44, 39, 0.7);
                "
              ></div>
              <div class="progress-value">50%</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="progress-title text-center">Angular</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-warning progress-bar-striped bg-warning active"
                style="
                  width: 75%;
                  box-shadow: -1px 10px 10px rgba(240, 173, 78, 0.7);
                "
              ></div>
              <div class="progress-value">75%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">Node.JS</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped bg-info active"
                style="
                  width: 65%;
                  box-shadow: -1px 10px 10px rgba(91, 192, 222, 0.7);
                "
              ></div>
              <div class="progress-value">65%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">MongoDB</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-dark progress-bar-striped bg-dark active"
                style="
                  width: 45%;
                  box-shadow: -1px 10px 10px rgba(24, 25, 24, 0.7);
                "
              ></div>
              <div class="progress-value">45%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">Express</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-secondary progress-bar-striped bg-secondary active"
                style="
                  width: 45%;
                  box-shadow: -1px 10px 10px rgba(47, 44, 39, 0.7);
                "
              ></div>
              <div class="progress-value">45%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="textoFondo"><b>Soft Skill</b></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="progress-title text-center">Comunicacion</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar bg-danger progress-bar-striped progress-bar-danger active"
                style="
                  width: 90%;
                  box-shadow: -1px 10px 10px rgba(196, 5, 5, 0.7);
                "
              ></div>
              <div class="progress-value">90%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">Trabajo en equipo</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-success progress-bar-striped bg-success active"
                style="
                  width: 80%;
                  box-shadow: -1px 10px 10px rgba(116, 195, 116, 0.7);
                "
              ></div>
              <div class="progress-value">80%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">
            Resolucion de problemas
          </h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-warning progress-bar-striped bg-warning active"
                style="
                  width: 75%;
                  box-shadow: -1px 10px 10px rgba(240, 173, 78, 0.7);
                "
              ></div>
              <div class="progress-value">75%</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="progress-title text-center">Ingles</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-primary progress-bar-striped bg-primary active"
                style="
                  width: 70%;
                  box-shadow: -1px 10px 10px rgba(7, 38, 192, 0.7);
                "
              ></div>
              <div class="progress-value">70%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">Adaptación al cambio</h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped bg-info active"
                style="
                  width: 80%;
                  box-shadow: -1px 10px 10px rgba(91, 192, 222, 0.7);
                "
              ></div>
              <div class="progress-value">80%</div>
            </div>
          </div>
          <h4 class="progress-title text-center">
            Resolución de problemas
          </h4>
          <div class="progress-outer">
            <div class="progress">
              <div
                class="progress-bar progress-bar-secondary progress-bar-striped bg-secondary active"
                style="
                  width: 60%;
                  box-shadow: -1px 10px 10px rgba(47, 44, 39, 0.7);
                "
              ></div>
              <div class="progress-value">60%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

