
  <div class="container">
    <h1 class="textoFondo"><b>Educación</b></h1>
    <div class="editarNombre">
      <a href=""><i class="fa-solid fa-square-pen fa-2x" style="color:red;"></i></a>
    </div>
    <div class="row mt-5" >
      <div class="col-10">
        <div class="card fondoCard text-center">
          <ul *ngFor="let item of educ" style="list-style: none;">
            <li>
              <b>{{item.nombre}}</b>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2 alinear">
        <div class="card fondoCard">
          <carousel>
            <slide *ngFor="let item of educ">
              <img src={{item.logo}} alt="first slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
