<div class="container">
    <h1 class="textoFondo"><b>Educación</b></h1>
    <div class="row mt-5">
      <div class="col-10">
        <div class="card fondoCard text-center">
          <h4>
            <b
              >Técnico Mecánico Industrial, Escuela Técnico Industrial
              Emilio Civit Maipu Mendoza 2001-2008</b
            >
          </h4>
          <h4>
            <b
              >Técnico Superior en Programacion, UTN Facultad Regional
              Mendoza 2010-2018</b
            >
          </h4>
          <h4><b>Curso de NodeJS Codigo CódigoFacilito 2020 </b></h4>
          <h4><b>Curso Profesional de Angular CódigoFacilito 2020</b></h4>
          <h4><b>Stack MEAN Fazt Code 2021</b></h4>
          <h4><b>Argentina Programa 2022</b></h4>
        </div>
      </div>
      <div class="col-2 alinear">
        <div class="card fondoCard">
          <div
            id="carouselExampleControls"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="assets/img/educacion/etiec.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/img/educacion/Utn.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/img/educacion/codigoFacilito.png"
                  class="d-block w-100"
                  alt="..."
                  style="background: white"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/img/educacion/mean2.png"
                  class="d-block w-100"
                  alt="..."
                  style="background: white"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/img/educacion/ApLogo.png"
                  class="d-block w-100"
                  alt="..."
                  style="background: white"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="false"
              ></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
