<div class="container">
    <h1 class="textoFondo"><b>Proyectos</b></h1>
    <div class="container" *ngFor="let item of proyec">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <img
              src="assets/img/imagen1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Portafolio</h5>
              <p class="card-text">
                Aun en contruccion.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>