<div
class="modal fade"
id="banner"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content fondoModal">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
       Editar banner
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Cancelar"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editarBanner">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Ingrese url de la imagen</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="imageUrl"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="editar()" [disabled]="editarBanner.invalid" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
      </div>
  </div>
</div>
</div>